In [1]:
# in strings if you have to store line in multilines than use ''' '''(tripple quotes).
# for multilines last index of everyline will be '\n' which show next line


# Strings are immutable
# if we make changes to string than we should store it in another string or the same string.
# as it's immutable it will point to another string

In [8]:
numbers = [4,5,6]
newstring = "numbers:{},{},{}".format(numbers[0], numbers[1], numbers[2])
print(newstring)

date = [2,3,2020]
string = "date: {}/{}/{}".format(date[0], date[1], date[2])
print(string)

new_string = "numbers:{2},{1},{0}".format(numbers[0], numbers[1], numbers[2])
print(new_string)

print("My name is {} and i'm {} year old".format('Hitesh',20))

numbers:4,5,6
date: 2/3/2020
numbers:6,5,4
My name is Hitesh and i'm 20 year old

In [3]:
'He's a good guy'

SyntaxError: invalid syntax (<ipython-input-3-d23daa9c02e1>, line 1)

In [5]:
'He\'s a good guy'  # For sene=tence like this use backslash(\)

"He's a good guy"

In [4]:
a = 'red'
print(a+' blue')
print(a+'blue'+'green')

red blue
redbluegreen

In [6]:
a = 10 # To delete the variable value
del a
print(a)

NameError: name 'a' is not defined

In [6]:
a+str(3) # converting integer to string

'red3'

In [12]:
str = "My name is Hitesh"
li = str.split(' ')
print(li)
li = str.split(' ',1)
print(li)

['My', 'name', 'is', 'Hitesh']
['My', 'name is Hitesh']

# split

In [13]:
str = "My,name,is,Hitesh"
li = str.split(',')
li

['My', 'name', 'is', 'Hitesh']

# replace

In [14]:
str = "My name is Hitesh"
str.replace('Hitesh','Rohan')
str

'My name is Hitesh'

In [15]:
str = str.replace('Hitesh','Rohan')
str

'My name is Rohan'

In [17]:
str = "My name is Hitesh Hitesh Hitesh"
str = str.replace('Hitesh','Rohan',2)
str

'My name is Rohan Rohan Hitesh'

# lower and upper

In [18]:
str = "My Name Is Hitesh"
str = str.lower()
str

'my name is hitesh'

# replace the charcter

In [21]:
def replace(str,char1,char2):
    newStr = ''
    for char in str:
        if char==char1:
            newStr+=char2
        else:
            newStr+=char
    return newStr

str = 'abbbbbbbbxcsjkdc'
str = replace(str,'b','d')
print(str)

addddddddxcsjkdc

# vowel,consonent,special,digit

In [28]:
def countInString(str):
    v,c,d,s = 0,0,0,0
    for char in str:
        if((char>='a' and char<='z') or (char>='A' and char<='Z')):
            char = char.lower()
            if (char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
                v+=1
            else:
                c+=1
        elif(char>='0' and char<='9'):
            d+=1
        else:
            s+=1
    return v,c,d,s
str = "sfshdgfSJGFJDF456564#%^$% sdhbaeiou"
v,c,d,s = countInString(str)
print(v,c,d,s)

5 18 6 6

# Check permutation

In [5]:
str1 = input() # For strings to sort it we have to use different method as mentioned below.
str2 = input()
str1 = str1.lower()
str2 = str2.lower()
str1 = sorted(str1)
str2 = sorted(str2)
if str1 == str2:
    print('true')
else:
    print('false')

cbbd
abcd
false

# Remove consecutive

In [7]:
a = input()
b = ''
for ele in a:
    if ele not in b:
        b+=ele
    elif ele!=b[len(b)-1]:
        b+=ele
print(b)

abbccddaabb
abcdab

# Reverse each word

In [1]:
def reversed_words(s):
    return ' '.join(words[::-1] for words in s.split())

s = input()
result = reversed_words(s)
print(result)

Google ML intern Hitesh Tomar
elgooG LM nretni hsetiH ramoT

# Remove character

In [3]:
s = input()
a = input()
result = s.replace(a,'')
print(result)

Google Data Science intern Hitesh Tomar
b
Google Data Science intern Hitesh Tomar

# Highest occuring character

In [7]:
s = input()
arr = [0]*256
for i in s:
    arr[ord(i)]+=1
    
m=-1
for i in s:
    if m<arr[ord(i)]:
        m=arr[ord(i)]
        c=i
print(c)

saaaaassddffffgfghhgh
a